<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registro</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <header>
            <div id="nav-top">
                <img id="main-logo" src="/images/logo-mercado-liebre.svg" alt="">
                <form action="" method="GET" class="barra-busqueda">
                    <input id="linea" type="search" placeholder="Buscar productos, marcas y mas">
                    <button type="submit" class="buscar"><i class="fas fa-search"></i></button>
                </form>
                <p class="compra-en-cuotas"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
            </div>
            <div id="nav-bottom">
                <nav>
                    <ul class="main-nav">
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="login">
                        <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
            </div>
            <nav id="mobile-menu">
                <a class="burger-menu"><i class="fas fa-bars"></i></a>
            </nav>
        </header>
        <main>
            <form action="">
                <h2>Datos del usuario</h2>
                <input type="text" placeholder="Nombre y apellido" class="caja" autocomplete="name" required>
                <input type="text" placeholder="Nombre de usuario" class="caja" autocomplete="username" required>
                <input type="email" placeholder="Correo Electrónico" class="caja" required>
                <h2>Fecha de nacimiento</h2>
                <input type="date" class="caja" max="2021-06-30" required>
                <input type="text" placeholder="Domicilo" class="caja" autocomplete="street-address" required>
                <h2>Perfil de usuario</h2>
                <div id="perfil">
                    <div class="lista">
                        <input type="radio" name="perfil" value="comprador">
                        <p>Comprador</p>
                    </div>
                    <div class="lista">
                        <input type="radio" name="perfil" value="vendedor">
                        <p>Vendedor</p>
                    </div>
                </div>
                <h2>Intereses</h2>
                <div id="intereses">
                    <div class="lista">
                        <input type="checkbox" name="intereses" value="electro">
                        <p>Electro</p>
                    </div>
                    <div class="lista">
                        <input type="checkbox" name="intereses" value="moda">
                        <p>Moda</p>
                    </div>
                    <div class="lista">
                        <input type="checkbox" name="intereses" value="hogar">
                        <p>Hogar</p>
                    </div>
                    <div class="lista">
                        <input type="checkbox" name="intereses" value="jugueteria">
                        <p>Jugueteria</p>
                    </div>
                    <div class="lista">
                        <input type="checkbox" name="intereses" value="vidaSana">
                        <p>Vida sana</p>
                    </div>
                </div>
                <h2>Foto de perfil</h2>
                <input type="file" class="file" required>
                <h2>Crea tu contraseña</h2>
                <input type="password" placeholder="Ingresa tu contraseña" class="caja" autocomplete="new-password" required>
                <input type="password" placeholder="Repite tu contraseña" class="caja" autocomplete="new-password" required>
                <div id="botones">
                    <button type="submit" id="enviar">Enviar</button>
                    <button type="reset" id="borrar">Reiniciar formulario</button>
                </div>
            </form>
        </main>
        <footer>
            <div>
                <section>
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <section>
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section>
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </section>
            </div>
            <section><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></section>
        </footer>  
    </body>
</html>